$gutter: 1rem; //for primeflex grid system
@import '@src/assets/layout/layout.scss';

/* PrimeVue */
// @import '@node_modules/primevue/resources/themes/bootstrap4-light-blue/theme.css';
// @import '@node_modules/primevue/resources/themes/lara-light-indigo/theme.css';
// @import '@node_modules/primevue/resources/themes/lara-dark-indigo/theme.css';
@import '@node_modules/primeicons/primeicons.css';
@import '@node_modules/primeflex/primeflex.scss';
// @import '@node_modules/primeflex/themes/primeone-light.scss';
// @import '@node_modules/primeflex/themes/primeone-dark.scss';

@font-face {
  font-family: "Oswald";
  src: url('@src/assets/font/Oswald-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: "Oswald", Calibri, Tahoma, sans-serif;
    // font-family: var(--font-family);
    color: var(--color-text);
}