---
import Layout from "../layouts/Layout.astro";
import IndexVue from "@pages/indexVue.vue";
---

<Layout title="Welcome to Astro Portfolio.">
	<main>
		<IndexVue client:only="vue" />
	</main>
</Layout>

<style is:global></style>
